.header {
  line-height: var(--normal-line-height);
  width: var(--page-width);
  padding: 15px 0 20px 0;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__slogan {
    flex: 1 1 auto;
    text-align: center;
    font-family: 'Charmonman', cursive;
    font-size: 20px;
    color: var(--color-main-alternate);
    padding-top: 30px;
  }
  &__logo {
    height: 80px;
    flex: 0 0 auto;
  }
  &__lang {
    padding-top: 30px;
  }
  @include media-breakpoint-down(xl) {
    &__lang, &__slogan {
      padding-top: 24px;
    }
    &__logo {
      height: 60px;
    }
  }
  @include media-breakpoint-down(md) {
    &__lang {
      display: none;
    }
    &__slogan {
      text-align: right;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 15px 0;
    &__container {
      flex-direction: column;
    }
    &__slogan {
      padding: 0;
      font-size: 18px;
      text-align: center;
      margin-top: 15px;
    }
  }
}

.header-nav {
  --line-height: 20px;
  --height: var(--header-fixed-height);
  color: #fff;
  font-size: 14px;
  position: sticky;
  z-index: 1000;
  top: 0;
  &__wrapper {
    background-color: var(--color-main);
    position: relative;
    z-index: 2;
    height: var(--height);
  }
  &__list {
    display: flex;
  }
  &__item {
    --sub-nav-opacity: 0;
    --sub-nav-visibility: hidden;
    --link-bg: transparent;
    flex: 1 1 auto;
    position: relative;
    &:not(:first-child) {
      margin-left: -1px;
    }
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      top: calc((var(--height) - var(--line-height)) / 2);
      height: var(--line-height);
      width: 1px;
      background-color: var(--color-main-medium);
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
    &[data-touch], &[data-hover] {
      --sub-nav-opacity: 1;
      --sub-nav-visibility: visible;
      --link-bg: var(--color-main-medium);
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: var(--height);
    line-height: var(--line-height);
    text-transform: uppercase;
    text-align: center;
    padding: calc((var(--height) - var(--line-height)) / 2) 0;
    gap: 6px;
    background-color: var(--link-bg);
    position: relative;
    z-index: 2;
    transition: background-color var(--trs-1);
    .icon {
      width: 14px;
      height: 14px;
    }
    &[data-touch], &[data-hover] {
      --link-bg: var(--color-main-medium);
    }
    &.active {
      --link-bg: var(--color-main-alternate);
      cursor: default;
    }
  }

  &__sub-list {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    min-width: calc(max(200px, 100%));
    background-color: var(--color-main-medium);
    padding: 10px 0;
    opacity: var(--sub-nav-opacity);
    visibility: var(--sub-nav-visibility);
    transition: opacity var(--trs-1), visibility var(--trs-1);
  }
  &__sub-link {
    display: block;
    white-space: nowrap;
    padding: 6px calc(var(--grid-gutter-width) / 2);
    line-height: 1.35;
    transition: background-color var(--trs-1);
    &[data-touch], &[data-hover] {
      background-color: var(--color-main);
    }
  }
  @include media-breakpoint-up(md) {
    &__lang {
      display: none;
    }
  }
  @include media-breakpoint-down(xl) {
    &__item:not(.header-nav__search-toggle) {
      display: none;
    }
    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__search-toggle {
      flex: 0 0 auto;
      margin: 0;
      &::before, &::after {
        display: none;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    font-size: 16px;
  }
  @include media-breakpoint-down(md) {
    &__content {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      padding: 0;
    }
    &__content {
      gap: 16px;
    }
  }
}

.header-search-toggle {
  --icon-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: var(--height);
  text-transform: uppercase;
  transition: background-color var(--trs-1);
  &__icon {
    width: var(--icon-size);
    height: var(--icon-size);
    position: relative;
  }
  .icon {
    width: 100%;
    height: 100%;
    transition: opacity var(--trs-1);
    &:last-child {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
    }
  }
  &[data-touch], &[data-hover], &.active {
    background-color: var(--color-main-medium);
  }
  &.active {
    .icon {
      &:first-child {
        opacity: 0;
      }
      &:last-child {
        opacity: 1;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    padding: 0 16px;
    background-color: var(--color-main-medium);
    &[data-touch], &[data-hover] {
      background-color: var(--color-main-alternate);
    }
  }
  @include media-breakpoint-down(xl) {
    gap: 10px;
    --icon-size: 20px;
  }
  @include media-breakpoint-down(sm) {
    padding: 0 var(--container-padding-x);
    background-color: transparent;
    min-width: calc(var(--height) * 2);
    &[data-touch], &[data-hover] {
      background-color: var(--color-main-medium);
    }
  }
}

.mobile-nav-trigger {
  @include media-breakpoint-up(xl) {
    display: none;
  }
  @include media-breakpoint-down(xl) {
    --icon-size: 28px;
    width: var(--height);
    height: var(--height);
    padding: calc((var(--height) - var(--icon-size)) / 2);
    background-color: var(--color-main-medium);
    transition: background-color var(--trs-1);
    .icon {
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      margin: -4px;
    }
    &[data-touch], &[data-hover] {
      background-color: var(--color-main-alternate);
    }
  }
  @include media-breakpoint-down(sm) {
    background-color: transparent;
    &[data-touch], &[data-hover] {
      background-color: var(--color-main-medium);
    }
  }
}

.header-search {
  --icon-size: 18px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--color-main-medium);
  transform: translateY(-100%);
  transition: transform var(--trs-1);
  &.active {
    transform: translateY(0);
  }
  &__container {
    display: flex;
    gap: 20px;
  }
  &__form {
    transform: translateY(var(--form-translate));
    display: flex;
    transition: transform var(--trs-1);
    flex: 1 1 auto;
  }
  &__submit {
    flex: 0 0 auto;
    display: flex;
    width: var(--height);
    height: var(--height);
    transition: color var(--trs-1);
    .icon {
      width: var(--icon-size);
      height: var(--icon-size);
      margin: auto;
    }
    &[data-touch], &[data-hover] {
      color: var(--color-main-alternate);
    }
  }
  &__input {
    display: block;
    width: 100%;
    height: var(--height);
    line-height: var(--height);
    color: #fff;
    &::placeholder {
      color: #fff;
      transition: opacity var(--trs-1);
      text-transform: uppercase;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  &__results {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
  }

  &__selected-result-index {
    &::after {
      content: '/';
      display: inline-block;
      margin: 0 0.4em;
    }
  }

  &__controls {
    flex: 0 0 auto;
    display: flex;
  }

  &__result-control {
    --icon-size: 18px;
    display: flex;
    height: var(--height);
    width: var(--height);
    padding: calc((var(--height) - var(--icon-size)) / 2);
    transition: background-color var(--trs-1);
    .icon {
      width: var(--icon-size);
      height: var(--icon-size);
    }
    &[data-touch], &[data-hover] {
      &:not(.disabled) {
        background-color: var(--color-main-alternate);
      }
    }
    &.disabled {
      cursor: default;
    }
  }
  @include media-breakpoint-down(xl) {
    &__result-control {
      --icon-size: 20px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      padding-right: 0;
    }
    &__container {
      display: flex;
      gap: 16px;
    }
  }
}

.header-lang {
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      &::after {
        content: '|';
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
  &__link {
    text-transform: uppercase;
    transition: color var(--trs-1);
    &[data-touch], &[data-hover] {
      color: var(--color-main-alternate);
    }
    &.active {
      font-weight: 700;
      color: var(--color-main-alternate);
      cursor: default;
    }
  }
}

.mobile-nav {
  @include media-breakpoint-up(xl) {
    display: none !important;
  }
  @include media-breakpoint-down(xl) {
    line-height: var(--normal-line-height);
    display: none;
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 100%;
    &__overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: var(--color-overlay);
    }
    &__container {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      z-index: 2;
      background-color: var(--color-main);
      color: #fff;
      max-width: 360px;
    }
    &__close {
      --icon-size: 28px;
      width: var(--header-fixed-height);
      height: var(--header-fixed-height);
      padding: calc((var(--header-fixed-height) - var(--icon-size)) / 2);
      background-color: var(--color-main-medium);
      position: sticky;
      z-index: 2;
      top: 0;
      margin: 0 0 0 auto;
      transition: background-color var(--trs-1);
      .icon {
        width: 100%;
        height: 100%;
      }
      &[data-touch], &[data-hover] {
        background-color: var(--color-main-alternate);
      }
    }

    &__list {
      --item-py: 12px;
      --px: 20px;
      padding-bottom: var(--header-fixed-height);
    }
    &__link {
      display: block;
      padding: var(--item-py) var(--px);
      transition: background-color var(--trs-1);
      font-size: 18px;
      &[data-touch], &[data-hover] {
        background-color: var(--color-main-medium);
      }
      &.active {
        cursor: default;
        background-color: var(--color-main-alternate);
      }
    }
    &__sub-list {
      --item-py: 6px;
      --py: 10px;
      --px: 20px;
      padding: 10px var(--px);
      position: relative;
      &::before {
        content: '';
        display: block;
        width: 2px;
        height: calc(100% - var(--py) * 2 - var(--item-py) * 2);
        top: calc(var(--py) + var(--item-py));
        left: var(--px);
        position: absolute;
        background-color: var(--color-main-medium);
      }
    }
    &__sub-link {
      padding: var(--item-py) 0 var(--item-py) var(--px);
      display: block;
      transition: color var(--trs-1);
      &[data-touch], &[data-hover] {
        color: var(--color-main-alternate);
      }
      &.active {
        cursor: default;
        background-color: var(--color-main-alternate);
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      max-width: 300px;
    }
    &__sub-list {
      --px: var(--container-padding-x);
    }
    &__list {
      --px: var(--container-padding-x);
    }
    &__close {
      background-color: transparent;
      &[data-touch], &[data-hover] {
        background-color: var(--color-main-medium);
      }
    }
  }
}