:root {
  --global-font-family: 'Noto Sans', sans-serif;
  --global-font-size: 16px;
  --global-line-height: 1.75;
  --normal-line-height: 1.5;
}



body {
  font-family: var(--global-font-family);
  font-size: var(--global-font-size);
  line-height: var(--global-line-height);
  color: var(--color-text);
  text-rendering: optimizeSpeed;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 40px 0 20px 0;
  line-height: 1.35;
  color: var(--color-text-accent);
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

h1, .h1 {
  font-size: 32px;
}
h2, .h2 {
  font-size: 28px;
}
h3, .h3 {
  font-size: 26px;
}
h4, .h4 {
  font-size: 24px;
}
h5, .h5 {
  font-size: 22px;
}
h6, .h6 {
  font-size: 20px;
}

p {
  margin: 0 0 16px 0;
  &:last-child {
    margin-bottom: 0;
  }
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  &:last-child {
    margin: 0;
  }
}

strong, b {
  font-weight: 700;
}

ul:not([class]), ol:not([class]) {
  margin: 0 0 20px 0;
  &:last-child {
    margin: 0;
  }
}

ul:not([class]) {
  padding-left: 20px;
  li {
    position: relative;
    padding-left: 20px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 2px;
      top: calc(50% - 3px);
      width: 6px;
      height: 6px;
      border-radius: 8px;
      background-color: currentColor;
    }
  }
}

ol:not([class]) {
  counter-reset: section;
  padding-left: 20px;
  li {
    padding-left: 20px;
    position: relative;
    &:before {
      counter-increment: section;
      content: counter(section) '. ';
      position: absolute;
      right: calc(100% - 12px);
      top: 0;
      
    }
  }
}

a:not([class]), .link {
  transition: color var(--trs-1);
  color: var(--color-main-alternate);
  &[data-touch], &[data-hover] {
    color: var(--color-main);
  }
}

.table {
  margin: 0 0 20px 0;
  overflow-x: auto;
  overflow-y: hidden;

  table {
    --color-fill: #f0f7ff;
    --color-fill-accent: #e7f2ff;
    --py: 12px;
    min-width: 100%;
    line-height: 1.25;
    th, td {
      text-align: center;
      padding-top: var(--py);
      padding-bottom: var(--py);
      &:first-child {
        text-align: left;
        padding-left: var(--container-padding-x);
      }
      &:last-child {
        padding-right: var(--container-padding-x);
      }
      &:not(:last-child) {
        padding-right: var(--grid-gutter-width);
      }
    }
    tr {
      &:not(:last-child) {
        th, td { 
          border-bottom: 2px solid #fff;
        }
      }
      &:hover {
        td {
          background-color: var(--color-fill-accent);
        }
      }
    }
    th {
      background-color: var(--color-main);
      color: #fff;
    }
    td {
      background-color: var(--color-fill);
      transition: background-color var(--trs-1);
      &:empty {
        background-color: var(--color-fill-accent);
      }
    }
  }


  &:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    margin: 0 calc(var(--container-padding-x) * -1);
    font-size: 14px;
  }
}