:root {
  --color-text: #3c3c3c;
  --color-text-accent: #000;
  --color-muted: #888888;
  --color-light: #e0e0e0;
  --color-main: #083e8d;
  --color-main-medium: #2369a5;
  --color-main-alternate: #0099e5;
  --color-main-light: #f0f7ff;
  --color-red-accent: #751313;


  --color-overlay: rgba(0, 0, 0, 0.35);
  --color-light-overlay: rgba(255, 255, 255, 0.35);
}