extends layout/layout

block variables
  -var title = 'Текстовая страница'
  -var breadcrumbs = ['Главная', title]
  
block content
  include blocks/breadcrumbs
  
  .container
    .row 
      .col-xl-9
        h1 Title H1
        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        h2 Title H2 
        p Lorem ipsum dolor sit amet, consetetur <a href="#">sadipscing</a> elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        h3 Title H3
        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        include blocks/table
        h5 Image 
        img(data-src="https://picsum.photos/1400/800", alt="placeholder").lazyload
        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

      .col-xl-3.d-none.d-xl-block
        .aside-box.rubricator-box
          h6.rubricator-box__title Продукты
          .rubricator-box__content
            a.rubricator-box__link(href='end-mill')
              | Фрезы твердосплавные цельные
              svg.icon
                use(xlink:href='./img/icons/icons.svg#caret-right')
            a.rubricator-box__link(href='milling-inserts')
              | Фрезерные пластины
              svg.icon
                use(xlink:href='./img/icons/icons.svg#caret-right')
            a.rubricator-box__link(href='milling-holder')
              | Фрезы корпусные
              svg.icon
                use(xlink:href='./img/icons/icons.svg#caret-right')
            span.rubricator-box__link.active Сверла и развертки твердосплавные
            a.rubricator-box__link(href='drills-inserts-holder-borin')
              | Сверла корпусные и расточные системы
              svg.icon
                use(xlink:href='./img/icons/icons.svg#caret-right')
            a.rubricator-box__link(href='turning-holder-other')
              | Токарные пластины, держатели и прочее
              svg.icon
                use(xlink:href='./img/icons/icons.svg#caret-right')
            a.rubricator-box__link(href='accessories')
              | Аксессуары
              svg.icon
                use(xlink:href='./img/icons/icons.svg#caret-right')
