mixin product-card(image, title)
  a(href="#").product-card
    .product-card__image
      .image.image_cover 
        img(src=image, alt="image").lazyload
    .product-card__content 
      h6.product-card__title=title

mixin news-card(title)
  .news-card
    span.news-card__date October 16, 2019
    a(href="#").news-card__title.link=title

mixin insta-post()
  .insta-post
    a(href="https://picsum.photos/800/800" data-fslightbox="lightbox").insta-post__image
      .image.image_cover  
        img(data-src="https://picsum.photos/800/800" alt="Example image description").lazyload
      svg.icon
        use(xlink:href='./img/icons/icons.svg#magnifying-glass')